<!DOCTYPE html>
<html>
<head>
  <title>СВАРБЯ</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
<div role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="<%= root_path %>" class="navbar-brand">СВАРБИ</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="<%= people_path %>">Сотрудники</a></li>
        <% if policy(:setting).index? %>
            <li><a href="<%= settings_path %>">Настройки</a></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li><a href="<%= logout_path %>">Выход</a></li>
        <% else %>
          <li><a href="<%= login_path %>">Вход</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="btn-group btn-group-justified">
      <% ('А'..'Я').each do |letter| %>
        <% next if ['Ъ', 'Ь'].include?(letter) %>
        <%= link_to letter, people_path(letter: letter), class: 'btn btn-default' %>
      <% end %>

      <%= link_to '*', '/people', class: 'btn btn-default' %>
  </div>

  <br />

  <% flash.each do |name, msg| %>
      <div class='alert alert-<%= name == "notice" ? "success" : "danger" %>'>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= msg %>
      </div>
  <% end %>

  <%= yield %>
</div>

<div id="about_us" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">About BigCo, Inc.</h4>
      </div>
      <div class="modal-body">
        <p>BigCo produces the finest widgets in all the land.</p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
      </div>
    </div>
  </div>
</div>



</body>
</html>
